body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: #0d1117;
    min-width: 300px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

#app .toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
}

#app .toggle:before {
    content: 'on off';
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

#app .toggle:checked {
    background-color: #4cd964;
}

#app .toggle:checked:before {
    left: 32px;
}

#app .label-for-toggle {
    color: white;
    font-size: 17px;
    margin-left: 10px;
}
